<mat-toolbar color="primary">
    <a [routerLink]="'/'"
        mat-icon-button class="example-icon" arial-label="Example icon-button with icon">
        <mat-icon>menu-books</mat-icon>
    </a>
    <span>Control de EPP</span>
    <span class="example-spacer"></span>
    
    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" arial-label="example icon-button with heart ">
        Iniciar
    </a>
    
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml70" arial-label="example icon-button with heart ">
        Registrar
    </a>
</mat-toolbar>